[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-daemon = "*"
dataset = "*"
flask = "*"
pylint = "*"
click = "*"
clrc = "*"
sh = "*"
passlib = "*"
flask-login = "*"
flask-wtf = "*"
loguru = "*"
psutil = "*"
python-dotenv = "*"
filelock = "*"
lockfile = "*"
pidlockfile = "*"

[dev-packages]
nuitka = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
